<%- include("partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered large image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="description">
                <h4 class="ui horizontal divider header">
                    <i class="tag icon"></i>
                    BLOG
                  </h4>
                <p><%- blog.body %></p>
            </div>
            <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">EDIT</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui right floated red basic button">DELETE</button>
            </form>
        </div>
    </div>
</div>

<%- include("partials/footer") %>